.main {

    display: block;
    padding: var(--whitespace-normal);
    background-color: var(--theme-background-color);

}

.main__content {

    display: flex;
    flex-direction: column;
    gap: var(--whitespace-normal);

}